@import "../themes/_variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1280px;
}

img {
  display: block;
}

li {
  list-style: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $c1-text-c;
  }
}
ul {
  padding: 0;
  list-style: none;
}
