// font-weight
$c1-text-w: 300;
$c2-text-w: 400;
$c3-text-w: 200;
$c4-text-w: 600;
$c5-text-w: 500;

// text-size
$c1-text-s: 16px;
$c2-text-s4: 40px;
$c3-text-s2: 20px;
$c4-text-s2-4: 24px;
$c3-text-s3: 30px;
$c5-text-s1-8: 18px;

// text-color
$c1-text-c: #f6f6f6;
$c2-text-c: #000000;
$c3-text-c: #1ed90e;
$c4-text-c: #1e1d1d;
$c5-text-c: #fc0303;
$c6-text-c: #fffcfc;
$c7-text-c: #FFF8F8;
// bg-color
$c1-bg-c: #000000;
$c2-bg-c: #f5f5f5;
$c4-bg-c: #f8f8f8;
$c5-bg-c: #d9d9d9;
$c6-bg-c: #cccccc;
$c7-bg-c: #FFFCFC;

// bg-button-color
$c3-bg-c: #f8b653;
$c1-bgbt-c: #e1b067;
$c2-bgbt-c: #dedddc;
$c3-bgbt-c: #6181f3;
$c4-bgbt-c: #6200ee;
$c5-bgbt-c: #f2994a;

//input color
$c1-ip-c: #ae18e2;