.nav.nav-tabs .nav-link {
    color: #000000;
  }
  .nav.nav-tabs .nav-link.active {
    color: #dd2aed;
  }
  
  .responsive-text {
    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }
  .shoes-img {
    width: 85px;
    @media screen and (max-width: 600px) {
      width: 50px;
    }
  }
  
  .avatar-img {
    width: 200px;
    @media screen and (max-width: 600px) {
      margin: auto;
      width: 100px;
    }
  }
  
  .text-16 {
    font-size: 24px;
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }
  
  .navlink-hover {
    &:hover {
      color: gray;
    }
  }
  