section#Search {
  .container {
    p {
      font-weight: $c5-text-w;
      font-size: $c5-text-s1-8;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
    }
    form {
      input {
        background: rgba(33, 33, 33, 0.08);
        border-radius: 4px 4px 0px 0px;
        border: none;
        width: 443px;
        height: 54px;

        &::-webkit-input-placeholder {
          font-weight: $c2-text-w;
          font-size: $c1-text-s;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.87);
          padding-left: 20px;
        }
      }
      button {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
          0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        background: #6200ee;
        padding: 18px 35px;
        font-weight: $c5-text-w;
        font-size: $c1-text-s;
        line-height: 16px;
        color: $c6-text-c;
      }
    }
    div {
      h2 {
        font-weight: $c2-text-w;
        font-size: $c2-text-s4;
        line-height: 48px;
        color: $c6-text-c;
        padding: 12px;
        background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
      }
      .row {
        p {

        }
        div {
          .icon {
            i {
            }
          }
        }
      }
    }
  }
}
